.custom-parser {
  input {
    outline: none;
    padding: 10px;
    width: 100%;
    border: 1px solid red;
  }
  button {
    display: block;
    margin: 10px auto 0;
  }
  .coordinate {
    width: 100%;
    height: 100%;
    padding: 15px;

    canvas {
      display: block;
      margin: 2rem auto 0;
      border: 1px solid red;
    }
  }
}